*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width: 330px;
    height: 470px;
    background: #aaa;
    border-radius: 8px;
    overflow: hidden;
}
}
.form{
    position: absolute;
    inset: 2px;
    background: #28292a;
    z-index: 10;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

h2{
    color: aqua;
}
.input{
    position: relative;
    width: 350px;
    margin-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
}
.input input{
   
}

.links{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
}

span{
    color: white;
}

#ok{
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 20px;
    color: black;
    font-size: 20px;
    height: 40px;
    margin-left: 40px;

      
}
